html{
	font-family: Arial;
	background-color: #f7f7f7;
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding: 0;
	height: 100%;
	background:#f7f7f7 ;

}
/* ########################################################################### */
/* ############################# MENU_BLOCK ################################## */
/* ########################################################################### */
#topMenu{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;	
	width: 100%;
	height: 41px;
	background-color: #232323;
	z-index: 1000;
}

.contentMenu{
	text-align: center;
	top: 0;
	width: 100%;
	max-width: 1360px;
	height: 54px;
	margin-left: auto;
	margin-right: auto;
}
/* ################################# LOGOTIP ################################# */
#logodiv{
	width: 100%;
	top: 1px;
	position: ;
	display: inline-block;
	text-align: left;
}

#logoButton{
	width: 180px;
	height: 35px;
	border:none;
	background: url(../img/dlink-logo.png)no-repeat;
	background-position: center;
	background-size: 179px 34px;
}
/* ################################# LOGIN ################################### */

#logindiv{	
	width: 49.5%;
	top: 4px;
	display: inline-block;
	text-align: right;
}

#loginButton{
	width: 140px;
	height: 35px;
	border:none;
	background: url(../img/login.jpg)no-repeat;
	background-position: center;
	background-size: 179px 37px;
	border-radius: 15px;
	cursor: pointer;
}
/* ################################# CONTENT_MENU ########################### */
#contentdiv{
	position: fixed;
	margin-top: -56px;
	left: 10%;
	right: 10%;
	display: inline-block;
	padding-bottom: 0;
	margin-bottom: 0;
}

#drop{
	display: inline-block;
	width: 49.45%;
}

#contentdiv ul {
	list-style: none;
}

#contentdiv ul li{
		margin-top: 10px;
	display: inline-block;
}

#contentdiv ul li a{

	font-weight: 600;
	color: #FFF;
	padding: 2px 9px;
	font-size: 22px;
	text-decoration: none; 
}

#contentdiv ul li a:hover{
	color: #ffd12b;
	border:1px solid red;
	padding: 1px 8px;
	border-radius: 4px;
	background-color: #000000; 
}

.active{
	background-color: #08c601; 
	border:2px solid #08c601;
	border-radius: 5px;
}
/* ########################################################################### */
/* ############################# BOTTOM LINE ################################# */
/* ########################################################################### */

#bottomLine{
	display: inline-block;
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: black;
	height: 25px;
	text-align: center;
	padding: 0;
	z-index: 99;
}
#bottomLine p{
	color: rgb(255, 0, 0);
	font-weight: 800;
	font-size: 15px;
	margin-top: 2px;
}
#a1{
	margin:0 7px;
	color: rgb(250, 255, 0);
}
#a2{
	color: rgb(0, 0, 255);
}


/* ########################################################################### */
/* ################################# PAG ##################################### */
/* ########################################################################### */
#reclama2{
	display: none;
}

#pag{
	text-align: center;
	border: 1px solid #e8e5e5; /*#e8e5e5*/
	border-radius: 5px;
	position: relative;
	top: 60px;
	width: 99.5%;
	max-width: 1359px;
	margin-left: auto;
	margin-right: auto;
	background-color: #efefef ;/*#efefef*/
	z-index: 1;

}
/* ################################# BANNER ##################################### */
#banner{
	width: 99%;
	margin: 5px auto;

}

#bannerimg{

	width: 100%;
	border-radius: 8px;
}

#reclama{
	vertical-align: top;
	display: inline-block;
	width: 19%;
	height: 120vh;   /*      asta o sa trebuiasca stearsa <<<<<<<<<<<<<######################################################################################3   */
	border-radius: 3px;
	background: url(https://reklamakobrin.by/upload/iblock/576/576a95a1d23e6de65e8bf41793c19b41.jpg);
	background-position: center;
	background-size: 99% auto;
	margin-top: 15px;
}

#content{
	vertical-align: top;
	display: inline-block;
	width: 79%;
}
/* ################################# BLOC D-LINK ##################################### */


.bloc{
	text-align: center;
	width: 99%;
	height: 230px;
	max-height: 250px;
	margin: 15px auto;
}

.blocImg{
	width: 25.8%;
	height: 99%;
	display: inline-block;
	background-color: rgba(252, 252, 252,70%);
	margin-right: -5px;
}

.bigBlocImg{
	display: none;
	position: fixed;
	width: 60%;
	height: 33vw;
	max-width: 1150px;
	top: 50%;
	border: 1px solid #a8a8a8;
	background: rgba(255, 255, 255, 80%);
	text-align: center;
	left: 50%;
    transform: translate(-50%, -50%);
 	
}

.bigRoutersImg{
	position: fixed;
	width: 95%;
	top: 50%;
	left: 50%
	max-width: 1050px;
	transform: translate(-50%, -65%);
}



.blocImg:hover > .bigBlocImg {
	display: block;
}


.blocTxt{
	text-align: left;
	vertical-align: top;
	width: 73%;
	height: 99%;
	padding-right: 9px;
	display: inline-block;
	background-color:rgba(252, 252, 252,70%);
}

/*############ img set #######*/

.routersImg{
	left: 23%;
	height: 100%;

}



#locLiber{
	height: 50px;
}