@media screen and (max-width: 975px){
/* ################################################################################## */
/* ################################# CONTEINER MENU ################################# */
/* ################################################################################## */
.aBigImg{
pointer-events: none;
}
#topMenu{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;	
	width: 100%;
	height: 55px;
	background-color: #232323;
}

#contentdiv{
	display: none;
	position: absolute;
	background-color: #232323;
	left: 0;
	top: 0;
	height: 100vh;
	width: 50%;
	max-width: 275px;
	padding-right: 50px;
	margin-top: 3px;
	text-align: left;
	z-index: 3000;
}
#xDrop{
	position: absolute;
	width: 80px;
	height: 75px;
	right: 38%;
	top: -1%;
	display: block;
}
#xDrop1{
	position: absolute;
	width: 80px;
	height: 50px;
	right: 33%;
	top: 0;
	display: block;
}
#aDropX{
	cursor: pointer;
}


#contentdiv ul {
	margin-top: 80px;
	list-style: none;
}

#contentdiv ul li{
	display: block;
}

#contentdiv ul li a{
	text-align: left;
	font-weight: 600;
	color: #FFF;
	font-size: 22px;
	text-decoration: none; 
}

#contentdiv ul li a:hover{
	color: #ffd12b;
	border:none;
	border-left: 2px solid red;
	border-bottom: 2px solid red;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 6px;
	background-color: #000000; 
}


.active a{
	background-color: #358421; 
	border:2px solid #358421;
	border-radius: 5px;
}

.active {
	height: auto;
	background-color: rgba(0,0,0,0);	
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}



#logodiv{
	display: inline-block;
	text-align: center;
}

#logoButton{
	margin-top: -7px;
	width: 50px;
	height: 50px;
	background: url(../img/menu.png)no-repeat;
	background-size: 55px 55px;
	background-position: center;
	cursor: pointer;
	margin-left: 50px;
	border:none;

}
/*
#drop:hover > #contentdiv{
	display: block;
}
*/
#loginButton{
	margin-top: 2px;
	width: 50px;
	height: 50px;
	border:none;
	background: url(../img/lock.png)no-repeat;
	background-position: center;
	background-size: 52px 52px;
	border-radius: 15px;
	cursor: pointer;
}

#logindiv{
	display: inline-block;
	text-align: center;
}



#banner{
	display: none;
}

#reclama{
	display: none;
}

#reclama2{
	display: block;
	width: 95%;
	height: 250px;
	border-radius: 5px;
	margin: 5px auto;
	background: url(https://reklamakobrin.by/upload/iblock/576/576a95a1d23e6de65e8bf41793c19b41.jpg);
	background-position: center;
	background-size: auto 99%;
}

/* ################################################################################## */


#content{
	width: 98%;
}

.bloc{
	overflow:hidden;
	border:1px solid #a8a8a8;
	text-align: center;
	width: 99%;
	height:500px;
	max-height:500px ;
	margin: 15px auto;
	border-radius: 5px;
	background-color: rgba(252, 252, 252,70%);
}

.blocImg{
	width: 99%;
	height: 50%;
	display: inline-block;
	background-color: rgba(252, 252, 252,70%);
	margin-right: 0;
	text-align: center;
	border-bottom: 2px solid #eaeaea;

}

.blocTxt{
	text-align: left;
	vertical-align: bottom;
	width: 99%;
	height: auto;
	padding-left: 2vw;
	padding-right: 2vw;
	background-color:rgba(252, 252, 252,70%);
}
.routersImg{
	width: auto;
	margin-top: -200px;
		margin-left: auto;
	margin-right: auto;
}


/* ################################################################################## */
/*


/*##############################################*/


#locLiber{
	height: 50px;
}







}